*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  --primary-color: rgb(16, 16, 65);
  --secondary-color: rgb(227, 223, 223);
  --accent-color: rgb(214, 212, 212);
  --text-color: rgb(49, 46, 46);
  --font-main: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --font-alt: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mariaimg{
  width: 40px;
  height: 50px;
  border-radius: 50%;
}
#hero{
background: url(assests/background-image.jpg);
background-repeat: no-repeat;
min-height: 40vh;
width: 100%;
background-position: center;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 50px;
  font-family: Geneva;
  font-weight: bold;
  z-index: 1;
}
#image-name{
  display: flex;
  padding-left: 50px;
  gap: 10px;
}
#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
  z-index: 1;
}
.nav{
  display: flex;
  gap: 40px;
}
.nav .nav-key{
  margin-right: 50px; 
  list-style: none;  
}
.nav .nav-key a{
  text-decoration: none;
  color: black;
}
.burger-menu{
  color: black;
  font-size: 25px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.js-scroll{
  opacity: 0;
  transition: opacity 300ms;
}
.js-scroll.scrolled{
  opacity: 1;
}
.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.scrolled.slide-left{
  animation: slide-in-left 1s ease-in-out both;
}
@keyframes fade-in{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
      -webkit-transform: translateX(-30px);
      transform: translateX(-30px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
  }
}
#home, h1, #home a{
  transition: 0.6s;
}
#home{
  margin-top: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-size: 180%;
  transition: 0.5s;
}
#home a{
  backdrop-filter: blur(8px);
}
h1{
  font-weight: bold;
  width: 60%;
  line-height: 40px;
  color: black;
}
#home-writeup{
  margin-top: -10px;
  width: 60%;
  line-height: 30px;
}
p, h1, h2, h3{
  margin-bottom: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
  color: rgb(49, 46, 46);
}
#buttons {
  margin-top: 15px;
  display: flex;
  gap: 15px; 
}

.case-study{
 padding: 15px;
 background: rgb(16, 16, 65);
 border: none;
 border-radius: 20px;
 font-family: Geneva;
 font-weight: bold;
 text-decoration: none;
  color: rgb(227, 223, 223);
}
.case-study:hover{
  border: 1px solid grey;
  background: transparent;
  color: rgb(16, 16, 65);
}
.home-socials{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 60%;
  padding: 10px 5px;
  background: hsl(203, 92%, 97%);
  border-radius: 0px 5px 5px 0px;
}
.home-icon{
  width: 20px;
  height: 20px;
  margin: 5px;
}
.home-icon:hover{
  transform: rotate(90deg);
}
.sub-mark{
  margin-top: -20px;
  width: 20px;
  height: 3px;
  background: rgb(16, 16, 65);
  border: none;
  border-radius: 2px;
}
#about{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: whitesmoke;
}
#more{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skills-general {
  max-width: 50%; 
  margin: auto; 
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  padding: 20px;
}

.skills {
  background: var(--accent-color);
  color: var(--text-color);
  text-align: center;
  font-family: var(--font-alt);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 15px;
  white-space: nowrap; 
}

#projects{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background: rgb(237, 235, 235);
}
.project-img{
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px;
}
.my-projects{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 70px 50px 70px;
  gap: 60px;
}
.project-writeup{
  text-align: left;
}
.project-cointainer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 20px; 
  flex-wrap: wrap; 
}
.project-card {
  background: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 11px;
  box-shadow: 0px 30px 10px #8b8eaf;
  display: flex;
  justify-content: center; 
  overflow: hidden;
  width: 100%; 
  max-width: 400px; 
  height: auto;
}
#contact{
  background: url(assests/background-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
form{
  background: transparent;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid grey;
  border-radius: 10px;
}
label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}
input, textarea{
  border: 2px solid grey;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer{
  background: black;
  padding-bottom: 20px;
}
#sub-footer{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#left-footer{
  padding-left: -20px;
}
#left-footer p{
  color: white;
  font-size: small;
}
.socials{
  display: flex;
  list-style: none;
  gap: 2rem;
}
.item img{
  width: 25px;
  height: 25px;
}
.item a{
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: hsl(203, 92%, 97%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.item a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(203, 92%, 97%);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: 0.5s ease;
}
.item:hover a::before{
  scale: 1 1;
}
.icon{
  font-size: 2rem;
  color: hsl(203, 92%, 8%);
  transition: 0.5s ease;
  z-index: 2;
}
.item a:hover .icon{
  color: #fff;
  transform: rotateY(360deg);
}
hr{
  width: 50%;
  margin: auto; 
}
#last-footer{
  text-align: center;
  padding-top: 5px;
}
#last-footer p{
  color: white;
}

/****** Media Queries *****/

@media screen and (max-width: 768px) {

  #image-name{
      padding-left: 10px;
      gap: 15px;
  }
  .nav{
      position: fixed;
      background: white;
      flex-direction: column;
      top: 35px;
      right: 1px;
      width: 100%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
      padding-top: 40px;
  }
  .nav .nav-key{
      margin: 0px 5px 0px 5px;
      border-bottom: 1px solid rgb(215, 210, 210);
      margin-top: -25px;
      padding-bottom: 10px;
  }
  .burger-menu{
      display: inline-block;
      font-size: 35px;
      padding-top: 10px;
  }
  .nav.show{
      transform: translateX(0);
  }
  .scroll-container{
      padding-top: 30px;
  }
  #home{  
      margin-top: 70px;
      padding-top: 70px;
      flex-direction: column;
  }
  #about{
     margin-top: -30px;
     padding-left: 20px ;
  }
  #about p{
    padding-bottom: 20px;
    text-align: center;
  }
  #more{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: left;
      width: 80%;
  }
  #more h3 {
    padding-left: 30px;
  }
  #skills-general{
      margin-top: 50px;
  }
  #skills{
      margin-left: -50px;
      margin-bottom: 20px;
  }
  
  #hero{
    min-height: 80vh
  }
  #projects{
      margin-top: -30px;
      display: flex;
      flex-direction: column;
  }
  #projects p{
      width: 80%;
      margin: auto;
  }
  .my-projects{
      display: flex;
      flex-direction: column;
      gap:0;
  }
  .project-card{
          background: #fff;
          padding: 15px 20px;
          margin: 5px;
          border-radius: 11px;
          box-shadow: 0px 30px 10px #8b8eaf;
  }
  .project-img{
      width: 550px;
      height: 200px;
  }
  .project-writeup h3{
      margin-top: 40px;
  }
  .project-writeup p{
      padding-bottom: 40px;
  }
  #contact{
      margin-top: -30px;
  }
  #contact p{
      width: 70%;
      text-align: center;
      margin: 10px auto;
  }
  #form-zone{
      margin-top: 30px;
  }

  #form{
      width: 70%;
  }
  input, textarea{
      width: 60%;
  }
  #sub-footer{
     display: flex;
     flex-direction: column;
     padding-left: 10px;
  }
  #left-footer p{
      width: 60%;
  }
}

  /*** Medium sized phones ***/

@media screen and (min-width: 425px) and (max-width: 767px) {
  
  .home-socials{
      display: none;
  }
  #home{
      margin-top: 50px;
      padding-top: 40px;
  }
  #home-writeup{
      margin-top: -5px auto;
      width: 90%;
  }
  #buttons{
      display: flex;
      flex-direction: column;
      margin-top: 10px;
  }
  #buttons a{
      margin-top: 10px;
  }
  #about p{
      width: 70%;
      margin: 15px auto;
  }
  #more p{
      width: 85%;
      padding-bottom: 20px;
  }
  #me a{
      margin-left: 20px;
  }
  #skills{
      width: 80%;
  }
  #hero{
    min-height: 70vh
  }
  #projects p{
      width: 70%;
      margin: 15px auto;
  }
  .my-projects{
      margin-top: 20px;
  }
  .project-img{
      width: 270px;
      height: 120px;
  }
  .project-card{
      padding: 10px 210px 10px 10px;
      margin-left: -15px;
  }
  .project-writeup p{
      text-align: left;
      padding-bottom: 20px;
  }
  #left-footer p{
      width: 70%;
  }
  #last-footer p{
      width: 75%;
      margin: auto;
  }
}

/**** Small-sized phones ****/

@media screen and (min-width: 320px) and (max-width: 424px) {
  .home-socials{
      display: none;
  }
  #home{
      margin-top: 50px;
      padding-top: 40px;
  }
  #home-writeup{
      margin-top: -5px auto;
      width: 90%;
  }
  #buttons{
      display: flex;
      flex-direction: column;
  }
  #buttons a{
      margin-top: 10px;
  }
  #about p{
      width: 70%;
      margin: 15px auto;
  }
  #more p{
      width: 85%;
      padding-bottom: 20px;
  }
  #me a{
      margin-left: 20px;
  }
  #skills{
      width: 80%;
  }
  #projects p{
      width: 70%;
      margin: 15px auto;
  }
  .my-projects{
      margin-top: 20px;
  }
  .project-img{
      width: 220px;
      height: 120px;
  }
  .project-card{
      padding: 10px 20px 10px 5px;
      margin-left: -15px;  
  }
  .project-writeup p{
      text-align: left;
      padding-bottom: 20px;
  }
  #left-footer p{
      width: 70%;
  }
  #last-footer p{
      width: 75%;
      margin: auto;
  }
}

/*** Extra small screen mobile devices ***/

@media screen and (max-width: 320px) {
  .home-socials{
      display: none;
  }
  #home{
      margin-top: 50px;
      padding-top: 40px;
  }
  #home-writeup{
      margin-top: -5px auto;
      width: 90%;
  }
  #buttons{
      display: flex;
      flex-direction: column;
  }
  #buttons a{
      margin-top: 10px;
  }
  #about p{
      width: 70%;
      margin: 15px auto;
  }
  #more p{
      width: 85%;
      padding-bottom: 20px;
  }
  #me a{
      margin-left: 20px;
  }
  #skills{
      width: 80%;
  }
  #projects p{
      width: 70%;
      margin: 15px auto;
  }
  .my-projects{
      margin-top: 20px;
  }
  .project-img{
      width: 170px;
      height: 120px;
  }
  .project-card{
      padding: 10px 20px 10px 10px;
      margin-left: -15px;   
  }
  .project-writeup p{
      text-align: left;
      padding-bottom: 20px;
  }
  #left-footer p{
      width: 70%;
  }
  #last-footer p{
      width: 75%;
      margin: auto;
  }
}
